* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #1D1D1D;
    backface-visibility: hidden;
}
.primary-color  {
    color: #F74356;
}
.primary-bg  {
    background: #F74356;
}
/* 

    primary - #F74356; 
    light - #BDBDBE
    dark - #1D1D1D
    black - #00000

*/
#custom-nabvar {
    background: linear-gradient(120deg,
    #F74356 0%,
    #F74356 50%,
    transparent 50%
    ), #1D1D1D;
    height: 90px;
    transition: all 0.5s;
}
/* Logo */
.logo {
    animation: moveToLeft 2s ease;
    transition: all 0.7s;
}

.logo-img {
    border: 2px solid #FFF;
}
.logo:hover {
    transform: scale(1.05);
    transform: translateX(10px);
}


/* end of logo */

/* Nav */
.line1, .line2, .line3 {
    width: 45px;
    margin: 6px;
    border: 3px solid #fff;
    transition: all 0.5s;
}

.change .line1 {
    transform: rotate(-45deg) translate(-6px, 10px);
}
.change .line2 {
    opacity: 0;
}
.change .line3 {
    transform: rotate(45deg) translate(-6px, -10px);
}

#mynav ul li a {
    text-transform: uppercase;
    color: #FFF;
    animation: moveToRight 2s;
    animation-fill-mode: backwards;
    transition: all 1s;
}
#mynav ul li a:hover{
    color: #BDBDBE;
    border-bottom: 1px solid #F74356;
}
/* end of Nav */
/* Header */
header {
    width: 100;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('../img/header-banner.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.text-box {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.custom-btn {
    width: 200px;
    font-size: 1em;
    padding: 12px;
    margin-right: 12px;
    border-radius: 0;
}
.btn1 {
    border: 4px solid #FFF;
    transition: all 0.5s;
    border-radius: 50px;
}
.btn2 {
    border: 4px solid #F74356;
    border-radius: 50px;
    transition: all 0.5s;
}
.btn1:hover {
    background: #F74356;
    transform: scale(1.05);
}
.btn2:hover {
    background: #1D1D1D;
    border: 4px solid #1D1D1D;
    transform: scale(1.05);
}

/* End of Header */

/* section */
.section-default {
    padding: 40px 0;
}
.section-title {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
}
.divi {
    width: 50px;
    height: 4px;
    background: #F74356;
    margin: auto;
    transition: all 0.5s;
}
.divi:hover {
    transform: scaleX(2);
}
/* end of section */

/* About */
.contact-icon {
   color: #1D1D1D;
}
.contact-text  {
    font-size: 18px;
    color: #1D1D1D;
}
.contact-text  a {
    color: #1D1D1D;
}
.social-link {
    text-decoration: none;
    transition: all 0.5s;
}
.fb-color {
    color: #3b5998;
}
.linkdin-color {
    color: #0077b5;
}
.twitter-color {
    color: #55acee;
}
.youtube-color {
    color: #b31217;
}
.instagram-color {
    color: #517fa4;
}
.github-color {
    color: #211F1F;
}
.social-link:hover {
    text-decoration: none;
    transform: scale(1.03);
    box-shadow: none;
    color: inherit;
}
.about-img {
    border: 5px solid #444;
    box-shadow: 2px 5px 10px #777;
}
/* End of About */

/* Eudcation & skills */
.edu-item {
    transition: all 0.5s;
    cursor: pointer;
}
.edu-item:hover {
    transform: translateX(15px);
}

/* End eduction & skills */

/* Projects */
.project-nav {
    width: 100%;
}
.p-item {
    cursor: pointer;
}
.p-active {
    color: #F74356;
    font-weight: 700;
}
.project {
    box-shadow: 0px 5px 10px #444;
    padding: 5px;
    transition: all 0.7s;
}
.project:hover {
    box-shadow: 2px 5px 10px #444;
    padding: 5px;
    transform: scale(1.03);
}

.project-link {
    margin-top: 12px;
}
.project-link:hover {
    text-decoration: none;
}
.project-btn {
    border-radius: 0;
}

.filter {
    animation: moveToBottom 2s;
}
/* End of Projects */

/* Contact */
.contact {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/contact-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.contact-form {
    color: #fff;
}
.contact-input {
    border-radius: 0;
    background: transparent;
    color: #FFF;
}
.contact-input:focus {
    box-shadow: none;
    background: transparent;
    color: #FFF;
}
/* End of Contact */

/* Footer */
footer {
    background: #000;
}
/* End of Footer */














/* animations */

@keyframes moveToLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes moveToRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes moveToBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

/* end of animations */

